*{
    margin: 0;
    padding: 0;
}

h2.main_heading{
    background-color: rgba(0,0, 255, 0.3);
    color: #000;
    /* opacity: 0.3; */

}
/* added background */
/* .contaienr{
    background-color: crimson;
    background-image: url('https://img.freepik.com/premium-photo/human-brain-with-blue-light-middle_1103909-19753.jpg');
    width: 600px;
    height: 500px;
    background: url('https://img.freepik.com/premium-photo/human-brain-with-blue-light-middle_1103909-19753.jpg') no-repeat fixed top left;
    

} */
/* css border */
/* .contaienr{
    shortucut border proeprt;
    border: 2px solid orange;
    border-width: 2px;
    border-color: black;
    border-style: dashed;
    border: 2px solid orange;
    background-color: blueviolet;
    height: 100px;
} */

/* rouded border */

.container{
    border: 2px solid orange;
    height: 100px;
    border-radius: 25px;
}