*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
/* .flex-item{
    width: 100px;
    height: 100px;
    background-color: brown;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap:  20px;
    gap: 40px 10px;
    height: 100vh;
    border: 10px solid blue;
    align-content: center;
}

flex items properties
.item-3{
    order: 9;
}
.item-4{
    order: 10;
} */

.header{
    border: 2px solid blue;
    height: 100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.header-items{
    background-color: black;
    color: white;
    width: 100px;
    height: 100px;
}
#item2{
    flex-grow: 30;
    
}
#item1{
    flex-grow: 1;
}

#item2 nav ul li{
    list-style: none;
}
#item2 nav ul li a{
    text-decoration: none;
    color: white;
}