*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.child{
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: 20px;
    padding: 20px;
    border: 2px solid;
}
.container div:nth-child(1){
    background-color: rgb(93, 93, 93);
    float: left;
}

.container{
    width: 800px;
    height: 800px;
    font-size: 4rem;
    background-color: rgb(61, 61, 61);
    color: aliceblue;
}

/* media quries */
/* @media (min-width: 0px) and (max-width: 800px){
    .container{
        background-color: blue;
        font-size: 2rem;
    }
} */
