*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #dcd;
}
/* css Flexbox */
.heading{
    font-size: 100px;
}

.container{
    /* display: flex; */
    width: 70%;
    height: 400px;
    background-color: blueviolet;
    color: white;
    margin: auto;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap-reverse; */

    /* shorthand fo flex-direction and flex-wrap */
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.box{
    width: 100px;
    height: 100px;
    background-color: gray;
    margin: 10px;

}
/* header */

.top-header{
    background-color: white;
    height: 50px;
}
.navbar{
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}


.navbar .left-links .nav-brand img{
    width: 50%;
}
.left-links{
    display: flex;
    align-items: center;
}
.left-links .nav-items{
    display: flex;
    gap: 10px;
}
.right-links{
    align-items: center;
    display: flex;
    /* border: 2px solid; */
}
.right-links .nav-items{
    display: flex;
    gap: 10px;
}
.nav-items .nav-item{
    list-style: none;
}
.nav-items .nav-item .nav-link{
    text-decoration: none;
    color: #000;
}
.main{
    background-color: #dcd;
    width: 100%;
    height: 70vh;
}