*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.container{
    /* max-width: 1200px; */
    margin: 50px 40px;
}
.card{
    box-shadow: 12px 12px 20px 20px rgba(0,0,0,0.2);
    max-width: 580px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
}
.card > img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.card-header{
    /* border: 2px solid; */
    display: inline-block;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
}
.card-header .heading{
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1.6px;
    display: inline-block;
    /* border: 2px solid; */
    
}
.card-header .sub-heading{
    color: #0f0f0f;
    font-size: 17px;
    margin-left: 4px;
}
.card-header .heart{
    /* border: 2px solid; */
    display: inline-block;
    margin-left: 250px;
}
.card-body{
    /* border: 2px solid; */
    padding: 10px 20px;
}
.card-price{
    /* border: 2px solid; */
    display: inline-block;
    
}
.card-price p:first-child{
    color: #0f0f0f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-price p:last-child{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 900;
}
.card-reviews{
    /* border: 2px solid; */
    display: inline-block;
    margin-left: 280px;
    text-align: right;
}

.card-footer{
    /* border: 2px solid; */
    padding: 20px;
    margin: 10px 0;
}
.card-footer .perks{
    display: inline-block;
}

.card-footer div:nth-child(2){
    display: inline-block;
    margin-left: 250px;
    /* border: 2px solid; */
}