*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: blue;
    max-width: 400px;
    /* height: 200px; */
    border: 2px solid;
    height: 100px;
    padding: 20px;
}
span{
    width: 150px;
    height: 100px;
    display: inline-block;
}
p,span{
    border: 2px solid;
}